.admin-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.admin {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 300px;
    background-color: ivory;
    box-shadow: var(--base-shadow);
    border: 3px solid var(--base-border);
}