.navigationmenu {
  position: absolute;
  left: 0;
  top: 200px;
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-button {
  display: block;
  text-align: center;
  line-height: 45px;
  font-family: var(--base-font);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--base-white);
  text-shadow: 0.1em 0.1em 0.2em #6282ad;
  background: linear-gradient(to right, #F4C91C, #e77f11);
  border-radius: 4px;
  text-decoration: none;
  width: 180px;
  margin-bottom: 10px;
  box-shadow: var(--base-shadow);
}

.menu-button:hover {
  background-color: #e8c374;
  transition-duration: 1s;
}

.menu-button.active {
  color: #385786;
  text-shadow: none;
  font-size: 18px;
}
