.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(main-background.jpg);
  background-color: #f8ecdb;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 1200px;
  position: relative;
}

.mainpart {
  background-color: #f2efdc;
  box-sizing: content-box;
  min-height: 600px;
}

.notFound {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.notFound > p {
  margin: 45px;
  padding-top: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #574d32;
  font-size: 20px;
}

.notFound > img {
  height: 430px;
}